<!DOCTYPE html>
<html style="background-color: cornsilk;">
<head>
    <title>DeepGIS Login</title>
</head>

<body style="font-size: 15pt;font-family: Helvetica;color: black;background-color: cornsilk;text-align: center;">
    {#% extends 'base.html' %#}
    <div id="login" >
    {% block content %}
    <h2 style="font-family:Helvetica;">DeepGIS Login</h2>
    <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" style="height:30px; width:130px">Login</button>

    </form>
    {% endblock %}

    <a href ='/register' style="color:darkgreen">Register</a>
 </div>
    </body>

</html>

