  <!DOCTYPE html>
  <html>

      <head>
          <title>DeepGIS Login</title>
      </head>

      <body  style="font-size: 15pt;font-family: Helvetica;color: black;background-color: cornsilk;text-align: left;">

  {#% extends 'base.html' %#}

   <div id="register">
  {% block content %}
    <h2 style="font-size:15pt;font-family:Helvetica;color:black;">DeepGIS Register</h2>

    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" style="font-size : 20px; height:30px; width:130px">Login</button>
    </form>
  {% endblock %}
  </div>
      </body>

  </html>


